{% extends "base.html" %}

{% block nav_content %}
<!--<div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item active">-->
<!--            <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/device_config">Device Configuration</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/device_status">Device Status</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/mqtt/client/app">MQTT Client</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/logout">Logout</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
{% endblock %}

{% block content %}
<div class="p1">
    <br><h1> Uptime Sense Platform </h1>
</div>
{% endblock %}